extends layout

block doctype
  doctype html

block header
  link(rel="stylesheet",href="stylesheets/index.css")
  script.
    $(function(){
      if(window.history.length<=0)
      {
        $(".di_toolbar_back").css("display","none");
      }
      $("ul").on("click","li",function(){
        window.location.href="/home/{0}/detail".format(this.id);
      });
    });

block content
  body
    ul
      each val, index in data
        li(id=val._id)
          a(id=val._id)=val.name
          a=val.desc
