//extends layout

//block content
  //h1= title
  //p Welcome to #{title}
doctype html
html
  meta(charset='utf8')
  meta(name='viewport',content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
  head
    title=title
    link(rel='stylesheet',type='text/css',href='stylesheets/index.css')
  body
    
