block doctype
html
  meta(charset='utf8')
  meta(name='viewport',content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
  head
    title= title
    link(rel="stylesheet",href="/stylesheets/disystem.css")
    script(type="text/javascript",src="/plugins/jquery.js")
    script(type="text/javascript",src="/javascripts/disystem.js")
    block header
  body
    header.di_toolbar
      nav.di_toolbar_navbar
        a.di_toolbar_back(href="javascript:DISystem.goBack()")
        a.di_toolbar_title=title
        a.di_toolbar_right_menu.di_toolbar_right(href="#")
    a.di_tooltip 提示
    block content
