*
{
  padding: 0px;
  margin: 0px;
}
html
{
  height: 100%;
}

body
{
  height:100%;
  /*padding-top: 64px;*/
}
.di_toolbar
{
  position: fixed;
  top: 0px;
  width: 100%;
  border-bottom: solid 1px #333;
  box-shadow: 0 0 2px 4px #777;
  margin-bottom: 5px;
  z-index: 100;
  background: #344056;
}
.di_toolbar_navbar
{
  position: relative;
}
.di_toolbar_back
{
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  left: 10px;
  line-height: 22px;
  top:12.5px;
  color: #eee;
  border-top:solid 10px transparent;
  border-bottom:solid 10px transparent;
  border-right:solid 15px white;
}
/*
.di_toolbar_back::before
{
  content: " ";
  width: 0px;
  height: 0px;
  border-top: solid 10px transparent;
  border-bottom: solid 10px transparent;
  border-right: solid 15px #aaa;
  display: block;
  position: absolute;
  left:-15px;
}
*/
.di_toolbar_title
{
  display: block;
  text-align: center;
  height: 45px;
  line-height: 45px;
  color: white;
}
.di_toolbar_right , .di_toolbar_right_menu
{
  position: absolute;
  text-decoration: none;
}
.di_toolbar_right_menu
{
  width: 25px;
  height: 3px;
  right: 10px;
  top:12.5px;
  background: white;
  display: block;
}
.di_toolbar_right_menu::after
{
  position: absolute;
  width: 25px;
  background: white;
  display: block;
  content: " ";
  height: 3px;
  bottom:-8px;
}
.di_toolbar_right_menu::before
{
  position: absolute;
  width: 25px;
  background: white;
  display: block;
  content: " ";
  height: 3px;
  bottom:-16px;
}
.di_tooltip
{
  height: 40px;
  z-index: 99;
  background: #FFFF99;
  border-bottom:solid 2px #ff6666;
  position: fixed;
  top:44px;
  left:0px;
  width: 100%;
  line-height: 40px;
  color: #ff6666;
  text-align: center;
  display: none;
}
/** 平台特性 **/
.di_pc_only
{
  display: none;
}
@media screen and (min-width: 600px) {
  .di_toolbar_back
  {
    display: none;
  }
  .di_toolbar_title
  {
    text-align: left;
    width:90%;
    margin-left: 20px;
  }
  .di_toolbar_right
  {
    display: none;
  }
  .di_mobile_only
  {
    display: none;
  }
  .di_pc_only
  {
    display: block;
  }
}
