ul
{

}
li > a
{
  display: block;
  letter-spacing: 1px;
}
li > a:nth-of-type(1)
{
  color: #333;
  font-size: 11pt;
}
li > a:nth-of-type(2)
{
  color: #aaa;
  font-size: 12pt;
  text-indent: 20px;
  margin-top: 10px;
}
li
{
  position: relative;
  /*border-bottom: solid 1px #eee;*/
  padding: 10px 8%;
  cursor: pointer;
}
li::after
{
  content: " ";
  /*display: block;*/
  position: absolute;
  width: 96%;
  height: 1px;
  right: 0px;
  bottom: 0px;
  background: #ddd;
}
